footer,
header,
nav {
    display: block
}

[hidden] {
    display: none
}

html {
    background: #fff;
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

button,
html,
input,
textarea {
    font-family: sans-serif
}

body {
    margin: 0
}

a {
    background: 0 0
}

a:focus {
    outline: thin dotted
}

a:active,
a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

h2 {
    font-size: 1.5em;
    margin: .83em 0
}

h3 {
    font-size: 1.17em;
    margin: 1em 0
}

h4 {
    font-size: 1em;
    margin: 1.33em 0
}

h5 {
    font-size: .83em;
    margin: 1.67em 0
}

h6 {
    font-size: .75em;
    margin: 2.33em 0
}

strong {
    font-weight: 700
}

small {
    font-size: 80%
}

img {
    border: 0
}

button,
input,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline
}

button,
input {
    line-height: normal
}

button {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

.search-box {
    background-color: #494949;
    margin-left: 200px;
    height: 30px;
    width: 300px;
    border-radius: 15px;
    text-align: center
}

.search {
    color: #fff;
    background-color: #494949;
    height: 30px;
    border-radius: 15px
}

button[disabled],
input[disabled] {
    cursor: default
}

input[type=checkbox],
input[type=radio] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

*,
:after,
:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #888;
    background-color: #161719
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    color: #fff;
    font-family: "Novecento Sans", "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase
}

a {
    text-decoration: none
}

address {
    font-style: normal
}

p {
    margin-top: 0
}

form input:not([type=submit]),
form textarea {
    border: 2px solid #28292c;
    padding: 10px 10px 10px 40px;
    background-position: 10px;
    background-repeat: no-repeat;
    display: block;
    font-family: "Novecento Sans", "Open Sans", sans-serif;
    margin-bottom: 10px;
    font-size: 12px;
    font-size: .75em;
    text-transform: uppercase;
    width: 100%;
    outline: 0;
    background-color: transparent;
    color: inherit;
    -webkit-transition: .3s ease;
    transition: .3s ease
}

form input:not([type=submit]):active,
form input:not([type=submit]):focus,
form input:not([type=submit]):hover,
form textarea:active,
form textarea:focus,
form textarea:hover {
    border-color: #fff
}

form input[type=submit] {
    padding: 10px 20px;
    background: 0 0;
    border: 2px solid #fff;
    color: #fff;
    font-family: "Novecento Sans", "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-size: .875em;
    outline: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease
}

form input[type=submit]:active,
form input[type=submit]:focus,
form input[type=submit]:hover {
    background-color: #fff;
    color: #111113
}

.button {
    display: inline-block;
    padding: 15px 35px;
    border: 3px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-size: .75em;
    font-family: "Novecento Sans", "Open Sans", sans-serif;
    -webkit-transition: .3s ease;
    transition: .3s ease
}

.button:hover {
    border-color: #fff;
    color: #fff
}

.fullwidth-block {
    padding: 50px 0 50px;
    overflow: hidden
}

.contact-form {
    margin-bottom: 50px
}

.contact-form #name {
    background-image: url(images/icon-user.png)
}

@media all and (-webkit-min-device-pixel-ratio:1.5),
all and (-o-min-device-pixel-ratio:3 / 2),
all and (min--moz-device-pixel-ratio:1.5),
all and (min-device-pixel-ratio:1.5) {
    .contact-form #name {
        background-image: url(images/icon-user@2x.png);
        background-size: 16px 18px
    }
}

.contact-form #email {
    background-image: url(images/icon-envelope-alt.png)
}

@media all and (-webkit-min-device-pixel-ratio:1.5),
all and (-o-min-device-pixel-ratio:3 / 2),
all and (min--moz-device-pixel-ratio:1.5),
all and (min-device-pixel-ratio:1.5) {
    .contact-form #email {
        background-image: url(images/icon-envelope-alt@2x.png);
        background-size: 16px 11px
    }
}

.contact-form #website {
    background-image: url(images/icon-globe.png)
}

@media all and (-webkit-min-device-pixel-ratio:1.5),
all and (-o-min-device-pixel-ratio:3 / 2),
all and (min--moz-device-pixel-ratio:1.5),
all and (min-device-pixel-ratio:1.5) {
    .contact-form #website {
        background-image: url(images/icon-globe@2x.png);
        background-size: 16px 16px
    }
}

.contact-form #message {
    background-image: url(images/icon-pencil.png);
    background-position: 10px 10px;
    min-height: 200px
}

@media all and (-webkit-min-device-pixel-ratio:1.5),
all and (-o-min-device-pixel-ratio:3 / 2),
all and (min--moz-device-pixel-ratio:1.5),
all and (min-device-pixel-ratio:1.5) {
    .contact-form #message {
        background-image: url(images/icon-pencil@2x.png);
        background-size: 16px 17px
    }
}

.map {
    min-height: 350px;
    margin-bottom: 30px
}

.contact-info strong {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-size: .875em;
    font-family: "Novecento Sans", "Open Sans", sans-serif;
    display: block;
    margin-bottom: 10px
}

.contact-info .contact a {
    display: block;
    color: inherit
}

.contact-info p {
    font-size: 14px;
    font-size: .875em
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.container:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.row:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0
}

.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:992px) {

    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left
    }

    .col-md-1 {
        width: 8.33333%
    }

    .col-md-2 {
        width: 16.66667%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-4 {
        width: 33.33333%
    }

    .col-md-5 {
        width: 41.66667%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-7 {
        width: 58.33333%
    }

    .col-md-8 {
        width: 66.66667%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-10 {
        width: 83.33333%
    }

    .col-md-11 {
        width: 91.66667%
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-offset-0 {
        margin-left: 0
    }

    .col-md-offset-1 {
        margin-left: 8.33333%
    }

    .col-md-offset-2 {
        margin-left: 16.66667%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-4 {
        margin-left: 33.33333%
    }

    .col-md-offset-5 {
        margin-left: 41.66667%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-7 {
        margin-left: 58.33333%
    }

    .col-md-offset-8 {
        margin-left: 66.66667%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-10 {
        margin-left: 83.33333%
    }

    .col-md-offset-11 {
        margin-left: 91.66667%
    }

    .col-md-offset-12 {
        margin-left: 100%
    }
}

.site-header {
    background-color: #111113;
    color: #fff;
    padding: 30px 0;
    margin-bottom: 30px
}

#branding {
    float: left
}

#branding .branding-copy,
#branding .logo {
    display: inline-block;
    vertical-align: middle
}

#branding .logo {
    margin-right: 10px
}

#branding .site-title {
    margin: 0;
    font-size: 14px;
    font-size: .875em;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1
}

#branding .site-title a {
    color: inherit
}

#branding .site-description {
    font-size: 12px;
    font-size: .75em;
    color: #888;
    font-family: Arial, sans-serif
}

.menu-toggle {
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: 0;
    font-size: 20px;
    font-size: 1.25em;
    display: none
}

@media screen and (max-width:990px) {
    .menu-toggle {
        display: block
    }
}

@media screen and (min-width:991px) {
    .menu-toggle {
        display: none !important
    }
}

.main-navigation {
    float: right
}

.main-navigation .menu {
    list-style: none;
    margin: 0;
    padding: 0
}

@media screen and (min-width:991px) {
    .main-navigation .menu {
        display: block !important
    }
}

@media screen and (max-width:990px) {
    .main-navigation .menu {
        display: none
    }
}

.main-navigation .menu-item {
    display: inline-block;
    padding: 0 10px
}

.main-navigation .menu-item a {
    padding: 10px 0;
    border-bottom: 3px solid transparent;
    color: #fff;
    font-family: "Novecento Sans", "Open Sans", sans-serif;
    font-size: 12px;
    font-size: .75em;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: .3s ease;
    transition: .3s ease
}

.main-navigation .menu-item.current-menu-item a,
.main-navigation .menu-item:hover a {
    border-bottom: 3px solid #fff
}

.content p {
    margin-bottom: 40px
}

.text-right {
    text-align: right
}

.site-footer {
    background-color: #111113;
    padding: 50px 0;
    text-align: center
}

.copy {
    font-size: 14px;
    font-size: .875em;
    color: #494949
}

.copy a {
    color: #494949;
    text-decoration: underline
}