@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

.root {
  display: flex;
  justify-content: space-between;
}

.functional ul {
  color: red;
  border-radius: 30px;
  padding: 10px;
}
.non-functional ul {
  color: blue;
  border-radius: 30px;
  padding: 10px;
}

.functional h3 {
  color: #8f9296;
  text-align: center;
  border-radius: 30px;
  padding: 20px;
}
.non-functional h3 {
  color: #8f9296;
  text-align: center;
  border-radius: 30px;
  padding: 20px;
}

.time {
  color: #8f9296;
  text-align: center;
  border-radius: 30px;
  padding: 5px;
  margin-top: 15px;
  width: 250px;
  height: 50px;
}

.time h2 {
  color: blue;
}

.footer {
  background-color: #292c2f;
  text-align: center;
  padding: 20px;
  margin-top: 10em;
}

.footer-left h3 {
  color: #8f9296;
}
.email {
  color: #8f9296;
}
